* {
    background: transparent;
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-weight: 900;
}

window {
    background-color: rgba(9, 15, 21, 0.90); /* Midnight */
}

button {
    background-color: #090f15; /* Midnight */
    border: 3px solid #6c6d74; /* Apres Ski */
    border-radius: 0px;
    color: #b3b7ba; /* Slopes */
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    font-size: 20px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

button:hover {
    background-color: #262e36; /* Mountainside */
    border: 3px solid #d3d1ce; /* Arctic */
    color: #d3d1ce;
    outline: none;
}

button:active {
    background-color: #6c6d74; /* Apres Ski */
    border-color: #6c6d74;
    color: #090f15; /* Midnight */
}

#lock { background-image: image(url("icons/lock.png")); }
#logout { background-image: image(url("icons/logout.png")); }
#suspend { background-image: image(url("icons/suspend.png")); }
#hibernate { background-image: image(url("icons/hibernate.png")); }
#reboot { background-image: image(url("icons/reboot.png")); }
#shutdown { background-image: image(url("icons/shutdown.png")); }

#lock:hover { background-image: image(url("icons/lock-hover.png")); }
#logout:hover { background-image: image(url("icons/logout-hover.png")); }
#suspend:hover { background-image: image(url("icons/suspend-hover.png")); }
#hibernate:hover { background-image: image(url("icons/hibernate-hover.png")); }
#reboot:hover { background-image: image(url("icons/reboot-hover.png")); }
#shutdown:hover { background-image: image(url("icons/shutdown-hover.png")); }
