* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: rgba(9, 15, 21, 1); /* Midnight */
    color: #d3d1ce; /* Arctic */
}

tooltip {
    background: #090f15;
    border: 2px solid #262e36;
    color: #d3d1ce;
    border-radius: 0;
}

tooltip label {
    color: #d3d1ce;
}

#workspaces {
    background: transparent;
    margin: 0;
    padding: 0 4px;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: #b3b7ba; /* Slopes (inactive) */
    border-radius: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#workspaces button.active {
    background: #262e36; /* Mountainside */
    color: #d3d1ce; /* Arctic */
}

#workspaces button:hover {
    background: #6c6d74; /* Apres Ski */
    color: #090f15;
}

#clock, #battery, #cpu, #memory, #tray, #pulseaudio, #network, #bluetooth, #custom-power {
    padding: 0 12px;
    background: transparent;
    color: #d3d1ce;
    transition: all 0.3s ease;
}

#clock:hover, #battery:hover, #cpu:hover, #memory:hover, #pulseaudio:hover, #network:hover, #bluetooth:hover, #custom-power:hover {
    background: #6c6d74; /* Apres Ski */
    color: #090f15;
}

#custom-power {
    font-size: 16px;
    padding-right: 15px;
}
