/* Rosé Pine Theme — Wlogout Style */

* {
    background-image: none;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 24px;
}

window {
    background-color: rgba(25, 23, 36, 0.85);
}

button {
    color: #e0def4;
    background-color: #191724;
    outline-style: none;
    border: 2px solid #26233a;
    border-radius: 14px;
    box-shadow: none;
    text-shadow: none;
    margin: 20px;
    padding: 20px;
}

button:focus {
    background-color: #16161e;
}

button:hover {
    background-color: #c4a7e7;
    color: #191724;
    border-color: #c4a7e7;
    transition: all 0.3s ease;
}
