@define-color window_bg_color #090f15;
@define-color window_fg_color #d3d1ce;
@define-color view_bg_color #090f15;
@define-color view_fg_color #d3d1ce;
@define-color headerbar_bg_color #262e36;
@define-color headerbar_fg_color #d3d1ce;
@define-color sidebar_bg_color #262e36;
@define-color sidebar_fg_color #b3b7ba;
@define-color popover_bg_color #262e36;
@define-color popover_fg_color #d3d1ce;
@define-color accent_bg_color #6c6d74;
@define-color accent_fg_color #090f15;
@define-color accent_color #d3d1ce;
@define-color borders #6c6d74;

window.background {
    background-color: @window_bg_color;
}

headerbar {
    background: @headerbar_bg_color;
    border-bottom: 1px solid @borders;
    box-shadow: none;
    border-radius: 0;
}

window.csd,
window.csd > decoration {
    box-shadow: none;
    border-radius: 0;
}

.titlebar {
    border-radius: 0;
}

button {
    border-radius: 0;
}

selection {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}
