/* Chameleon — GTK4 colors from pywal — Mon Sep  7 11:22:50 PM IST 2026 */
@define-color accent_color #647487;
@define-color accent_bg_color #647487;
@define-color accent_fg_color #0a0c06;
@define-color window_bg_color #0a0c06;
@define-color window_fg_color #d3d5d9;
@define-color view_bg_color #0a0c06;
@define-color view_fg_color #d3d5d9;
@define-color headerbar_bg_color #0a0c06;
@define-color headerbar_fg_color #d3d5d9;
@define-color headerbar_border_color #647487;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color card_bg_color rgba(255,255,255,0.05);
@define-color card_fg_color #d3d5d9;
@define-color card_border_color rgba(255,255,255,0.1);
@define-color popover_bg_color #0a0c06;
@define-color popover_fg_color #d3d5d9;
@define-color dialog_bg_color #0a0c06;
@define-color dialog_fg_color #d3d5d9;
@define-color sidebar_bg_color #0a0c06;
@define-color sidebar_fg_color #d3d5d9;
@define-color sidebar_border_color #647487;
selection { background-color: #647487; color: #0a0c06; }
headerbar { background-color: @headerbar_bg_color; border-bottom: 1px solid @headerbar_border_color; box-shadow: none; }
