/* One Dark Theme — Wlogout Style */

* {
    background-image: none;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 24px;
}

window {
    background-color: rgba(40, 44, 52, 0.85);
}

button {
    color: #abb2bf;
    background-color: #282c34;
    outline-style: none;
    border: 2px solid #3e4451;
    border-radius: 14px;
    box-shadow: none;
    text-shadow: none;
    margin: 20px;
    padding: 20px;
}

button:focus {
    background-color: #16161e;
}

button:hover {
    background-color: #c678dd;
    color: #282c34;
    border-color: #c678dd;
    transition: all 0.3s ease;
}
