/* Chameleon Theme Waybar Styles (Ported uxna Modules) */
@import "/home/uxna/.local/share/waybar/styles/defaults.css";
@import "theme.css";

* {
    font-size: 14px;
    min-height: 24px;
}

window#waybar {
    padding: 2px 0;
}