/* Gruvbox Theme — Wlogout Style */

* {
    background-image: none;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 24px;
}

window {
    background-color: rgba(40, 40, 40, 0.85);
}

button {
    color: #ebdbb2;
    background-color: #282828;
    outline-style: none;
    border: 2px solid #504945;
    border-radius: 14px;
    box-shadow: none;
    text-shadow: none;
    margin: 20px;
    padding: 20px;
}

button:focus {
    background-color: #16161e;
}

button:hover {
    background-color: #d3869b;
    color: #282828;
    border-color: #d3869b;
    transition: all 0.3s ease;
}
