configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Tela-circle-black";
    drun-display-format: "{name}";
}

* {
    font: "JetBrains Mono Nerd Font 12";
    bg: #090f15e6; /* Midnight with opacity */
    bg-alt: #262e36; /* Mountainside */
    fg: #b3b7ba; /* Slopes */
    primary: #d3d1ce; /* Arctic */
    
    background-color: transparent;
    text-color: @fg;
    margin: 0;
    padding: 0;
}

window {
    width: 800px;
    height: 500px;
    background-color: @bg;
    border: 3px;
    border-color: #6c6d74; /* Apres Ski */
    border-radius: 0px;
}

mainbox {
    orientation: horizontal;
    children: [ imagebox, listbox ];
}

imagebox {
    expand: false;
    width: 300px;
    background-image: url("~/.config/hypr/themes/Midnight-Slate/wallpapers/makima_is_listening.jpg", height);
    background-color: transparent;
}

listbox {
    padding: 20px 30px;
    spacing: 15px;
    children: [ inputbar, listview ];
    background-color: @bg;
}

inputbar {
    children: [ prompt, entry ];
    background-color: transparent;
    padding: 0 0 15px 0;
}

prompt {
    enabled: true;
    padding: 0 10px 0 0;
    text-color: @primary;
    font: "JetBrains Mono Nerd Font 14";
    str: "";
}

entry {
    placeholder: "Search...";
    placeholder-color: #4d4d4d;
    text-color: @primary;
    vertical-align: 0.5;
}

listview {
    columns: 1;
    lines: 7;
    spacing: 5px;
    background-color: transparent;
    border: 0;
    scrollbar: false;
}

element {
    padding: 8px 12px;
    background-color: transparent;
    text-color: @fg;
    border-radius: 0px;
    border: 0px;
}

element selected {
    background-color: @bg-alt;
    text-color: @primary;
}

element-icon {
    size: 24px;
    padding: 0 12px 0 0;
}

element-text {
    vertical-align: 0.5;
    text-color: inherit;
}
