/* Dracula Theme — Wlogout Style */

* {
    background-image: none;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 24px;
}

window {
    background-color: rgba(40, 42, 54, 0.85);
}

button {
    color: #f8f8f2;
    background-color: #282a36;
    outline-style: none;
    border: 2px solid #44475a;
    border-radius: 14px;
    box-shadow: none;
    text-shadow: none;
    margin: 20px;
    padding: 20px;
}

button:focus {
    background-color: #16161e;
}

button:hover {
    background-color: #bd93f9;
    color: #282a36;
    border-color: #bd93f9;
    transition: all 0.3s ease;
}
